In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
data = pd.read_csv('/content/IMDB.csv', encoding='latin-1')

In [ ]:
data.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [ ]:
data['Year'].describe()

count      14981
unique       102
top       (2019)
freq         410
Name: Year, dtype: object

In [ ]:
data.isnull()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,False,True,True,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
15504,False,False,True,False,False,False,False,False,False,False
15505,False,False,False,False,False,False,False,False,False,False
15506,False,False,True,False,True,True,False,False,True,True
15507,False,False,True,False,True,True,True,True,True,True
15508,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [ ]:
data.shape

(15509, 10)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [ ]:
data['Genre'].fillna(data['Genre'].mode()[0], inplace=True)

<ipython-input-20-a8f8eeabb4d3>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Genre'].fillna(data['Genre'].mode()[0], inplace=True)

In [13]:
best_year = data.groupby("Year")["Rating"].mean().idxmax()
print(f"The year with the best average rating is: {best_year}")

The year with the best average rating is: (1948)

In [11]:
data["Duration"] = data["Duration"].astype(str).str.extract(r"(\d+)")

# Convert to integer
data["Duration"] = pd.to_numeric(data["Duration"], errors="coerce")

In [12]:
duration_correlation = data["Duration"].corr(data["Rating"])
print(duration_correlation)

-0.03109308126092553

In [ ]:
top_10_movies_overall = data.nlargest(10, "Rating")[["Name", "Year", "Rating"]]
top_10_movies_per_year = data.sort_values(["Year", "Rating"], ascending=[True, False]).groupby("Year").head(10)
print(top_10_movies_per_year)

                             Name    Year Duration                      Genre  \
9473             Mohini Bhasmasur  (1913)      NaN                      Drama
12575            Satyavan Savitri  (1914)      NaN                      Drama
3532   Death of Narayanrao Peshwa  (1915)      NaN                      Drama
8146                  Lanka Dahan  (1917)      NaN  Adventure, Drama, Fantasy
7337                        Karna  (1922)      NaN     Action, Drama, History
...                           ...     ...      ...                        ...
1921          Battle of Saraighat  (2022)      NaN                    History
2221                      Bhediya  (2022)      NaN             Comedy, Horror
2699          Chaalbaaz in London  (2022)      NaN                     Comedy
3162                       Cirkus  (2022)  112 min                     Comedy
4534           Ek Villain Returns  (2022)      NaN           Action, Thriller

       Rating Votes                 Director               Actor 1  \
9473      NaN   NaN  Dhundiraj Govind Phalke      Kamlabai Gokhale
12575     NaN   NaN  Dhundiraj Govind Phalke                   NaN
3532      NaN   NaN      Shree Nath Patankar             G. Ranade
8146      6.7    22  Dhundiraj Govind Phalke          Anna Salunke
7337      NaN   NaN      Shree Nath Patankar      Raja Sandow P.K.
...       ...   ...                      ...                   ...
1921      NaN   NaN              Sudipto Sen                   NaN
2221      NaN   NaN             Amar Kaushik           Kriti Sanon
2699      NaN   NaN          Pankaj Parashar       Shraddha Kapoor
3162      NaN   NaN             Rohit Shetty  Jacqueline Fernandez
4534      NaN   NaN               Mohit Suri          Disha Patani

                Actor 2            Actor 3
9473           Durgabai                NaN
12575               NaN                NaN
3532           D. Joshi       K.G. Gokhale
8146   Ganpat G. Shinde         D.D. Dabke
7337                NaN                NaN
...                 ...                ...
1921                NaN                NaN
2221       Varun Dhawan  Abhishek Banerjee
2699                NaN                NaN
3162        Pooja Hegde      Ranveer Singh
4534       John Abraham       Arjun Kapoor

[934 rows x 10 columns]

In [ ]:
popular_movies_per_year = data.groupby("Year")["Name"].count()
print(popular_movies_per_year)

Year
(1913)      1
(1914)      1
(1915)      1
(1917)      1
(1922)      1
         ...
(2018)    381
(2019)    410
(2020)    320
(2021)    392
(2022)     38
Name: Name, Length: 102, dtype: int64

In [ ]:
data["Votes"] = data["Votes"].astype(str).str.replace(r"[^\d.]", "", regex=True)
data["Votes"] = pd.to_numeric(data["Votes"], errors="coerce")

# Fill missing votes with 0
data["Votes"].fillna(0, inplace=True)

<ipython-input-48-f554fbef77d2>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Votes"].fillna(0, inplace=True)

In [ ]:
top_voted_movies_overall = data.nlargest(10, "Votes")[["Name", "Year", "Votes"]]
top_voted_movies_per_year = data.sort_values(["Year", "Votes"], ascending=[True, False]).groupby("Year").head(10)

print(top_voted_movies_overall)
print(top_voted_movies_per_year)

                         Name    Year     Votes
8219               Life of Pi  (2012)  591417.0
75                   3 Idiots  (2009)  357889.0
8233                     Lion  (2016)  220526.0
4848                   Gandhi  (1982)  220118.0
14038  The Darjeeling Limited  (2007)  185127.0
8228      Like Stars on Earth  (2007)  175810.0
10882                      PK  (2014)  168150.0
3410                   Dangal  (2016)  165074.0
11463                   Radhe  (2021)  162455.0
3829              Dil Bechara  (2020)  117377.0
                             Name    Year  Duration  \
9473             Mohini Bhasmasur  (1913)       NaN
12575            Satyavan Savitri  (1914)       NaN
3532   Death of Narayanrao Peshwa  (1915)       NaN
8146                  Lanka Dahan  (1917)       NaN
7337                        Karna  (1922)       NaN
...                           ...     ...       ...
1921          Battle of Saraighat  (2022)       NaN
2221                      Bhediya  (2022)       NaN
2699          Chaalbaaz in London  (2022)       NaN
3162                       Cirkus  (2022)     112.0
4534           Ek Villain Returns  (2022)       NaN

                           Genre  Rating  Votes                 Director  \
9473                       Drama     NaN    0.0  Dhundiraj Govind Phalke
12575                      Drama     NaN    0.0  Dhundiraj Govind Phalke
3532                       Drama     NaN    0.0      Shree Nath Patankar
8146   Adventure, Drama, Fantasy     6.7   22.0  Dhundiraj Govind Phalke
7337      Action, Drama, History     NaN    0.0      Shree Nath Patankar
...                          ...     ...    ...                      ...
1921                     History     NaN    0.0              Sudipto Sen
2221              Comedy, Horror     NaN    0.0             Amar Kaushik
2699                      Comedy     NaN    0.0          Pankaj Parashar
3162                      Comedy     NaN    0.0             Rohit Shetty
4534            Action, Thriller     NaN    0.0               Mohit Suri

                    Actor 1           Actor 2            Actor 3
9473       Kamlabai Gokhale          Durgabai                NaN
12575                   NaN               NaN                NaN
3532              G. Ranade          D. Joshi       K.G. Gokhale
8146           Anna Salunke  Ganpat G. Shinde         D.D. Dabke
7337       Raja Sandow P.K.               NaN                NaN
...                     ...               ...                ...
1921                    NaN               NaN                NaN
2221            Kriti Sanon      Varun Dhawan  Abhishek Banerjee
2699        Shraddha Kapoor               NaN                NaN
3162   Jacqueline Fernandez       Pooja Hegde      Ranveer Singh
4534           Disha Patani      John Abraham       Arjun Kapoor

[934 rows x 10 columns]

In [ ]:
top_director = data["Director"].value_counts().idxmax()
print(f"The director with the most movies in the dataset is: {top_director}")

The director with the most movies in the dataset is: Jayant Desai

In [ ]:
actors = pd.concat([data["Actor 1"], data["Actor 2"], data["Actor 3"]])
top_actor = actors.value_counts().idxmax()
print(top_actor)

Mithun Chakraborty